.icon (@size) {
	display: inline-block;
	width: @size;
	height: @size;
	background-size: @size @size;
	background-repeat: no-repeat;
}

.for_phone(@rules) {
	@media (max-width: 767px) {
		@rules();
	}
}

body {
	margin: 0;
	text-align: center;
}

button {
	&:active {
		top: 1px;
		position: relative;
	}
}

.b_tetris {
	@toolbar_height: 25px;
	@toolbar_margin: 10px;
	@progress_level_height: 25px;
	@board_width_phone: 50vw;

	font-family: "Segoe UI", "Segoe WP", sans-serif;
	color: white;
	font-size: 16px;
	display: inline-flex;
	position: relative;
	background-color: black;
	border: 2px solid grey;
	flex-direction: column;
	min-width: 300px;
	margin: 10px;
	user-select: none;
	box-sizing: border-box;

	.for_phone({
		width: 100vw;
		height: 100vh;
		margin: 0;
		border: none;
	});

	.toolbar {
		color: white;
		display: flex;
		position: relative;
		margin: @toolbar_margin;
		font-size: 18px;
		font-weight: bold;
		height: @toolbar_height;

		.score {
			position: absolute;
			display: flex;
			width: 100%;

			.value {
				display: flex;
				position: absolute;
				width: 100%;
				justify-content: center;
			}
		}

		.btns {
			position: relative;
			flex-grow: 1;
			display: flex;
			justify-content: flex-end;

			button {
				display: flex;
				border: 2px solid white;
				background-color: black;
				padding: 3px 20px;
				cursor: pointer;

				&.pause {
					.icon {
						.icon(12px);

						background-image: url("img/pause.svg");
					}

					&.active {
						.icon {
							background-image: url("img/play.svg");
						}
					}
				}
			}
		}
	}

	.progress_level {
		position: absolute;
		height: @progress_level_height;
		display: flex;
		margin-top: @toolbar_height + (@toolbar_margin * 2);
		width: 100%;
		align-items: center;

		.background {
			background: black;
			opacity: 0.6;
			height: 100%;
			position: absolute;
			width: 100%;
			z-index: 0;
		}

		.slider {
			height: 100%;
			width: 0%;
			z-index: 1;
			background-color: #1996c4;
			opacity: 0.6;
			transition-property: width;
			transition-duration: 0.1s;
		}

		.value {
			position: absolute;
			font-size: 14px;
			top: 0;
			font-weight: normal;
			z-index: 2;
			opacity: 0.8;
			line-height: @progress_level_height;

			&.target {
				right: 10px;
			}

			&.back {
				left: 10px;
			}
		}
	}

	.box {
		min-height: 400px;
		padding: (@progress_level_height + 20px) 0 20px 0;
		display: flex;
		flex-direction: row;
		background-image: url(img/background.jpg);
		background-size: 110%;
		background-repeat: no-repeat;
		background-position-x: 50%;
		background-position-y: 43%;

		.for_phone({
			flex-grow: 1;
			background-size: 115%;
			background-position-x: 100%;
			background-position-y: 28%;
		});

		.panel {
			display: flex;
			align-items: center;
			flex-direction: column;
			flex-grow: 1;
			width: 130px;
			text-align: center;

			.for_phone({
				width: (100vw - @board_width_phone) / 2;
			});

			.info {
				width: 100px;

				.for_phone({
					max-width: 80%;
				});

				.label {
					font-weight: bold;
					margin: 0 0 5px 0;
				}

				.value {
					min-height: 100px;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 30px;
					font-weight: bold;
					border: 3px solid rgba(0, 0, 0, 0.5);
					background-color: rgba(0, 0, 0, 0.5);
				}
			}

			&.left {
				.info .value {
					border-bottom-left-radius: 10px;
				}
			}
			&.right {
				.info .value {
					border-top-right-radius: 20px;
				}
			}
		}

		.level {
			.value {
				transition-property: font-size;
				transition-duration: 0.1s;

				&.big {
					font-size: 50px;
				}
			}
		}

		.next_shape {
			display: flex;
			align-items: center;
		}

		.board {
			display: flex;
			position: relative;
			width: auto;
			flex-grow: 1;
			align-items: flex-end;

			.for_phone({
				width: @board_width_phone;
				height: @board_width_phone / 10 * 25;
			});

			.background {
				background: black;
				opacity: 0.5;
				height: 100%;
				position: absolute;
				width: 100%;
				z-index: 0;
			}

			ul.atoms {
				.for_phone({
					width: 100%;
					height: 100%;
				});
			}
		}

		ul.atoms {
			position: relative;
			list-style: none;
			padding: 0;
			margin: 0;

			&.hide_border_empty {
				.atom:not(.shape ) {
					visibility: hidden;
				}
			}

			li {
				display: flex;
				flex-direction: row;

				.atom {
					display: block;
					width: 20px;
					height: 20px;
					box-sizing: border-box;
					border: 1px solid rgba(0, 0, 0, 0.5);

					.for_phone({
						width: @board_width_phone / 10;
						height: @board_width_phone / 10;
					});

					&.shape {
						background-color: white;

						&.Line {
							background-color: cornflowerblue;
						}
						&.Square {
							background-color: yellowgreen;
						}
						&.LShape {
							background-color: darkorange;
						}
						&.JShape {
							background-color: mediumblue;
						}
						&.Tree {
							background-color: rebeccapurple;
						}
						&.ZShape {
							background-color: indianred;
						}
						&.SShape {
							background-color: lightgreen;
						}
					}

					&.stopped {
						box-shadow: rgba(255, 255, 255, 0.7) 0px -5px 10px 0px inset;
					}
				}
			}
		}
	}

	.btns_touch
	{
		position: absolute;
		width: 100%;
		height: 50vh;
		bottom: 0;

		&.hide {
			display: none;
		}

		.for_phone({
			display: flex;
		});

		.btn {
			@width: 25%;
			@height: 30%;
			@margin: 10px;

			position: absolute;
			width: calc(~"@{width} - (2 * @{margin})");
			height: @height;
			border: 2px solid;
			box-sizing: border-box;
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: 50%;
			margin: 0 @margin;
			opacity: 0.5;

			&.right {
				bottom: calc(~"@{height} + (2 * @{margin})");
				right: 0;
				background-image: url("img/right.svg");
			}

			&.left {
				bottom: calc(~"@{height} + (2 * @{margin})");
				background-image: url("img/left.svg");
			}

			&.down {
				bottom: @margin;
				background-image: url("img/down.svg");
			}

			&.rotate {
				bottom: @margin;
				right: 0;
				background-image: url("img/rotate.svg");
			}
		}
	}

	.background_modal {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 3;
		background-color: rgba(0,0,0,0.3);

		&.hide {
			display: none;
		}
	}

	.modal {
		position: absolute;
		min-width: 100px;
		width: 50%;
		background-color: rgba(0,0,0,0.8);
		margin: 200px 25% 0 25%;
		padding: 30px 20px 20px 20px;
		box-sizing: border-box;
		border-radius: 5px;
		box-shadow: 0px 0px 5px 0px #ffffff;
		z-index: 4;

		&.hide {
			display: none;
		}

		.for_phone({
			margin-top: 35vh;
		});

		.close {
			font-size: 30px;
			position: absolute;
			right: 5px;
			top: 5px;
			line-height: 17px;
			cursor: pointer;
			padding: 5px;
			font-family: sans-serif;
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}

		.msg {
			font-size: 20px;

			&.hide {
				display: none;
			}
 		}

		.btns {
			display: flex;
			justify-content: space-around;
			margin: 20px auto 10px auto;
			width: 85%;
			flex-wrap: wrap;

			.for_phone({
				flex-direction: column;
			});

			button {
				background-color: transparent;
				color: white;
				border: 2px solid;
				padding: 10px 15px;
				cursor: pointer;
				font-size: 16px;
				white-space: nowrap;
				margin-bottom: 10px;

				.for_phone({
					margin-bottom: 2px;
				});

				&.hide {
					display: none;
				}

				&:focus {
					text-decoration: underline;
				}
			}
		}
	}
}