body {
  margin: 0;
  text-align: center;
}
button:active {
  top: 1px;
  position: relative;
}
.b_tetris {
  font-family: "Segoe UI", "Segoe WP", sans-serif;
  color: white;
  font-size: 16px;
  display: inline-flex;
  position: relative;
  background-color: black;
  border: 2px solid grey;
  flex-direction: column;
  min-width: 300px;
  margin: 10px;
  user-select: none;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .b_tetris {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: none;
  }
}
.b_tetris .toolbar {
  color: white;
  display: flex;
  position: relative;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  height: 25px;
}
.b_tetris .toolbar .score {
  position: absolute;
  display: flex;
  width: 100%;
}
.b_tetris .toolbar .score .value {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
}
.b_tetris .toolbar .btns {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.b_tetris .toolbar .btns button {
  display: flex;
  border: 2px solid white;
  background-color: black;
  padding: 3px 20px;
  cursor: pointer;
}
.b_tetris .toolbar .btns button.pause .icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-image: url("img/pause.svg");
}
.b_tetris .toolbar .btns button.pause.active .icon {
  background-image: url("img/play.svg");
}
.b_tetris .progress_level {
  position: absolute;
  height: 25px;
  display: flex;
  margin-top: 45px;
  width: 100%;
  align-items: center;
}
.b_tetris .progress_level .background {
  background: black;
  opacity: 0.6;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 0;
}
.b_tetris .progress_level .slider {
  height: 100%;
  width: 0%;
  z-index: 1;
  background-color: #1996c4;
  opacity: 0.6;
  transition-property: width;
  transition-duration: 0.1s;
}
.b_tetris .progress_level .value {
  position: absolute;
  font-size: 14px;
  top: 0;
  font-weight: normal;
  z-index: 2;
  opacity: 0.8;
  line-height: 25px;
}
.b_tetris .progress_level .value.target {
  right: 10px;
}
.b_tetris .progress_level .value.back {
  left: 10px;
}
.b_tetris .box {
  min-height: 400px;
  padding: 45px 0 20px 0;
  display: flex;
  flex-direction: row;
  background-image: url(img/background.jpg);
  background-size: 110%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 43%;
}
@media (max-width: 767px) {
  .b_tetris .box {
    flex-grow: 1;
    background-size: 115%;
    background-position-x: 100%;
    background-position-y: 28%;
  }
}
.b_tetris .box .panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  width: 130px;
  text-align: center;
}
@media (max-width: 767px) {
  .b_tetris .box .panel {
    width: 25vw;
  }
}
.b_tetris .box .panel .info {
  width: 100px;
}
@media (max-width: 767px) {
  .b_tetris .box .panel .info {
    max-width: 80%;
  }
}
.b_tetris .box .panel .info .label {
  font-weight: bold;
  margin: 0 0 5px 0;
}
.b_tetris .box .panel .info .value {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  border: 3px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
.b_tetris .box .panel.left .info .value {
  border-bottom-left-radius: 10px;
}
.b_tetris .box .panel.right .info .value {
  border-top-right-radius: 20px;
}
.b_tetris .box .level .value {
  transition-property: font-size;
  transition-duration: 0.1s;
}
.b_tetris .box .level .value.big {
  font-size: 50px;
}
.b_tetris .box .next_shape {
  display: flex;
  align-items: center;
}
.b_tetris .box .board {
  display: flex;
  position: relative;
  width: auto;
  flex-grow: 1;
  align-items: flex-end;
}
@media (max-width: 767px) {
  .b_tetris .box .board {
    width: 50vw;
    height: 125vw;
  }
}
.b_tetris .box .board .background {
  background: black;
  opacity: 0.5;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 0;
}
@media (max-width: 767px) {
  .b_tetris .box .board ul.atoms {
    width: 100%;
    height: 100%;
  }
}
.b_tetris .box ul.atoms {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
.b_tetris .box ul.atoms.hide_border_empty .atom:not(.shape ) {
  visibility: hidden;
}
.b_tetris .box ul.atoms li {
  display: flex;
  flex-direction: row;
}
.b_tetris .box ul.atoms li .atom {
  display: block;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
  .b_tetris .box ul.atoms li .atom {
    width: 5vw;
    height: 5vw;
  }
}
.b_tetris .box ul.atoms li .atom.shape {
  background-color: white;
}
.b_tetris .box ul.atoms li .atom.shape.Line {
  background-color: cornflowerblue;
}
.b_tetris .box ul.atoms li .atom.shape.Square {
  background-color: yellowgreen;
}
.b_tetris .box ul.atoms li .atom.shape.LShape {
  background-color: darkorange;
}
.b_tetris .box ul.atoms li .atom.shape.JShape {
  background-color: mediumblue;
}
.b_tetris .box ul.atoms li .atom.shape.Tree {
  background-color: rebeccapurple;
}
.b_tetris .box ul.atoms li .atom.shape.ZShape {
  background-color: indianred;
}
.b_tetris .box ul.atoms li .atom.shape.SShape {
  background-color: lightgreen;
}
.b_tetris .box ul.atoms li .atom.stopped {
  box-shadow: rgba(255, 255, 255, 0.7) 0px -5px 10px 0px inset;
}
.b_tetris .btns_touch {
  position: absolute;
  width: 100%;
  height: 50vh;
  bottom: 0;
}
.b_tetris .btns_touch.hide {
  display: none;
}
@media (max-width: 767px) {
  .b_tetris .btns_touch {
    display: flex;
  }
}
.b_tetris .btns_touch .btn {
  position: absolute;
  width: calc(25% - (2 * 10px));
  height: 30%;
  border: 2px solid;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 50%;
  margin: 0 10px;
  opacity: 0.5;
}
.b_tetris .btns_touch .btn.right {
  bottom: calc(30% + (2 * 10px));
  right: 0;
  background-image: url("img/right.svg");
}
.b_tetris .btns_touch .btn.left {
  bottom: calc(30% + (2 * 10px));
  background-image: url("img/left.svg");
}
.b_tetris .btns_touch .btn.down {
  bottom: 10px;
  background-image: url("img/down.svg");
}
.b_tetris .btns_touch .btn.rotate {
  bottom: 10px;
  right: 0;
  background-image: url("img/rotate.svg");
}
.b_tetris .background_modal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
}
.b_tetris .background_modal.hide {
  display: none;
}
.b_tetris .modal {
  position: absolute;
  min-width: 100px;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 200px 25% 0 25%;
  padding: 30px 20px 20px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #ffffff;
  z-index: 4;
}
.b_tetris .modal.hide {
  display: none;
}
@media (max-width: 767px) {
  .b_tetris .modal {
    margin-top: 35vh;
  }
}
.b_tetris .modal .close {
  font-size: 30px;
  position: absolute;
  right: 5px;
  top: 5px;
  line-height: 17px;
  cursor: pointer;
  padding: 5px;
  font-family: sans-serif;
  opacity: 0.5;
}
.b_tetris .modal .close:hover {
  opacity: 1;
}
.b_tetris .modal .msg {
  font-size: 20px;
}
.b_tetris .modal .msg.hide {
  display: none;
}
.b_tetris .modal .btns {
  display: flex;
  justify-content: space-around;
  margin: 20px auto 10px auto;
  width: 85%;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .b_tetris .modal .btns {
    flex-direction: column;
  }
}
.b_tetris .modal .btns button {
  background-color: transparent;
  color: white;
  border: 2px solid;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .b_tetris .modal .btns button {
    margin-bottom: 2px;
  }
}
.b_tetris .modal .btns button.hide {
  display: none;
}
.b_tetris .modal .btns button:focus {
  text-decoration: underline;
}
